.wrapper {
  border: 1px solid black;
  display: flex;
}

.wrapper .wrapper__nav {
  background: #FFFFFF;
  padding-top: 36px;
  padding-bottom: 78px;
  max-width: 306px;
  width: 100%;
}

.wrapper .wrapper__customers {
  background: #F9FBFF;
  padding-top: 41px;
}
